.profile-page-container {
  margin-top: 80px;
  padding: 20px;
}


/* Sidebar Navigation */
.sidebar-navigation {
  background-color: #f9f9f9;
  padding: 20px;
}

.nav-section-header {
  font-weight: bold;
  margin-top: 20px;
  color: #000;
}

.nav-link {
  color: #6c757d;
}

.nav-link-active {
  color: #dc3545;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
  color: #5a5a5a;
}

.section-header {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.section-subheader {
  margin-top: 40px;
  margin-bottom: 20px;
}

.profile-form .MuiTextField-root {
  margin-bottom: 20px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.cancel-button {
  font-weight: bold;
  color: red;
  text-transform: none;
}

.cancel-button:hover {
  color: #c00;
}

.save-button {
  background-color: #28a745 !important;
  color: #fff;
}

.save-button:hover {
  background-color: #218838 !important;
}

.change-password-button {
  background-color: #007bff;
  text-transform: none;
  margin-bottom: 20px;
  color: #fff;
}

.change-password-button:hover {
  background-color: #0069d9;
}

/* Avatar Preview Styles */
.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.avatar-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.custom-divider {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Mobile Header */
.mobile-header {
  display: none;
  align-items: center;
  margin-bottom: -200px;
}

.mobile-menu-icon {
  color: #333;
}

.mobile-menu-icon:hover {
  color: #007bff;
}

.mobile-header-title {
  flex-grow: 1;
  font-weight: bold;
  color: #000;
  margin-left: 10px;
}

/* Drawer Content */
.drawer-content {
  width: 250px;
  padding: 20px;
  margin-top: 80px;
}

/* Responsive */
@media (max-width: 768px) {
  .mobile-header {
    display: flex;
  }

  .section-header {
    text-align: center;
  }

  .sidebar-navigation {
    display: none;
  }

  .form-actions {
    flex-direction: column;
  }

  .form-actions button {
    width: 100%;
    margin-bottom: 10px;
  }
}
